# macOS
.DS_Store

# IDE
.idea/
*.iml
.vscode/

# Maven
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# Spring Boot
backend/src/main/resources/application-prod.properties

# GCP
gcloud/
*.json
!package.json
!package-lock.json
